---
images:
  neutron_server: docker.io/openstackhelm/neutron:ocata
  #      apt-get install git-core
  #      pip install git+https://github.com/openstack/neutron-lbaas.git@stable/ocata
  #     neutron_server: docker.io/xjjo/neutron:ocata-ubuntu_xenial
  # neutron_server: docker.io/xjjo/neutron:ocata-ubuntu_xenial

# enable(not?) neutron lbaas
manifests:
  daemonset_lbaas_agent: false

conf:
  # used-by: neutron
  # TODO(jjo): use makefile var, e.g. NEUTRON_BR_EX_IFACE=enp5s0
  auto_bridge_add:
    br-ex: enp5s0
  ceph:
    admin:
      keyring: ${CEPH_ADMIN_KEYRING}
    pools:
      volume:
        crush_rule: replicated_ruleset
  global:
    mon_host: ceph-mon-0
  pool:
    default:
      crush_rule: replicated_ruleset
  glance:
    glance_store:
      rbd_store_crush_rule: replicated_ruleset
  # used-by: neutron
  plugins:
    ml2_conf:
      ml2:
        type_drivers: flat,vlan,gre,vxlan
        tenant_network_types: gre,vxlan
        #extension_drivers: dns,port_security
        extension_drivers: dns
      ml2_type_vxlan:
        vni_ranges: 1:1000
      ml2_type_gre:
        tunnel_id_ranges: 1001:2000
    openvswitch_agent:
      ovs:
        enable_tunneling: True
      agent:
        tunnel_types: gre
        l2_population: True
        enable_distributed_routing: False
        arp_responder: False
      securitygroup:
        enable_security_group: True
        firewall_driver: neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
  dhcp_agent:
    DEFAULT:
      # dnsmasq_local_resolv would need adding routes OS routers towards Kube DNS
      #dnsmasq_local_resolv: True
      dnsmasq_dns_servers: 8.8.8.8, 8.8.4.4
## jjo: BROKEN, as the neutron-server docker image doesn't have it :(
#  xjjo/ image 2019-08-03
#  neutron:
#    DEFAULT:
#      service_plugins: router,neutron_lbaas.services.loadbalancer.plugin.LoadBalancerPluginv2

# openstack-helm defaults to 'general' SC, change to null to use default
# used-by: mariadb, cinder, glance
volume:
  class_name: null

storage: rbd

endpoints:
  ceph_mon:
    # See Makefile for update-ceph-mon-openstack-svc target
    namespace: openstack
    hosts:
      default: ceph-mon-0
  # TODO(jjo): replacing cluster.local -> umcloud.local
  #            will need to TEST and redeploy kubespray with this domain
  #  cluster_domain_suffix: umcloud.local
  oslo_db:
    auth:
      admin:
        password: ${OSH_MARIADB_ADMIN_PASSWORD}
      # TODO(jjo): diff pass
      sst:
        password: ${OSH_MARIADB_ADMIN_PASSWORD}
      keystone:
        password: ${KEYSTONE_DB_PASSWORD}
      glance:
        password: ${GLANCE_DB_PASSWORD}
      cinder:
        password: ${CINDER_DB_PASSWORD}
      neutron:
        password: ${NEUTRON_DB_PASSWORD}
      nova:
        password: ${NOVA_DB_PASSWORD}
      heat:
        password: ${HEAT_DB_PASSWORD}
  oslo_db_api:
    auth:
      admin:
        password: ${OSH_MARIADB_ADMIN_PASSWORD}
      nova:
        password: ${NOVA_DB_PASSWORD}
  oslo_db_cell0:
    auth:
      admin:
        password: ${OSH_MARIADB_ADMIN_PASSWORD}
      nova:
        password: ${NOVA_DB_PASSWORD}
  # rabbitmq
  oslo_messaging:
    auth:
      admin:
        password: ${RABBITMQ_ADMIN_PASSWORD}
      user:
        password: ${RABBITMQ_ADMIN_PASSWORD}
      keystone:
        password: ${KEYSTONE_RABBITMQ_USER_PASSWORD}
      neutron:
        password: ${NEUTRON_RABBITMQ_USER_PASSWORD}
      nova:
        password: ${NOVA_RABBITMQ_USER_PASSWORD}
      heat:
        password: ${HEAT_RABBITMQ_USER_PASSWORD}
  # keystone
  identity:
    auth:
      admin:
        password: ${KEYSTONE_ADMIN_PASSWORD}
      # TODO(jjo): diff pass
      test:
        password: ${KEYSTONE_ADMIN_PASSWORD}
      glance:
        password: ${GLANCE_USER_PASSWORD}
      cinder:
        password: ${CINDER_USER_PASSWORD}
      neutron:
        password: ${NEUTRON_USER_PASSWORD}
      nova:
        password: ${NOVA_USER_PASSWORD}
      placement:
        password: ${NOVA_PLACEMENT_USER_PASSWORD}
      heat:
        password: ${HEAT_USER_PASSWORD}
      heat_trustee:
        password: ${HEAT_TRUSTEE_PASSWORD}
      heat_stack_user:
        password: ${HEAT_STACK_PASSWORD}
      swift:
        password: ${SWIFT_USER_PASSWORD}
  # memcache
  oslo_cache:
    auth:
      memcache_secret_key: ${KEYSTONE_AUTHTOKEN_MEMCACHED_SECRET_KEY}
